@tailwind  base;
@tailwind components;
@tailwind utilities;

body, html {
  font-family: 'Google Sans', sans-serif;
}

* {
  font-family: 'Google Sans', sans-serif;
}

input, select, button, textarea {
  font-family: 'Google Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Google Sans', sans-serif;
}

button {
  font-family: 'Google Sans', sans-serif;
}
 